/* blobs */

.blob {
	position: fixed;
	border-radius: 50%;
	filter: blur(100px);
	mix-blend-mode: multiply;
	animation: float 20s infinite ease-in-out;
	z-index: -1;
}

.blob.yellow {
	width: 30vw;
	height: 55vh;
	background: #ffffaf;
	top: 0%;
	left: 70%;
}

.blob.blue {
	width: 50vw;
	height: 100vh;
	background: #bef7ff;
	top: 50%;
	left: -20%;
	rotate: -45deg;
}

.blob.green {
	width: 80vh;
	height: 80vh;
	background: #c1ffca;
	top: -30%;
	left: 20%;
	rotate: 90deg;
}

.blob.pink {
	width: 80vh;
	height: 80vh;
	background: #ffc5df;
	top: 50%;
	left: 50%;
	rotate: 90deg;
}

/* my css */

body {
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
	background: #fffcf5;
	font-family: "Poppins", sans-serif !important;
	color: #1a4547 !important;
}

img {
	pointer-events: none;
	user-select: none;
}

.my-img {
	height: 84.8vh;
}

.page-container {
	display: flex;
	height: 90vh;
	justify-content: center;
}

.page {
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.331);
	background: #fffcf556;
	height: 85vh;
	width: 96vw;
	margin-top: 1vh;
	border-radius: 10px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

.nav {
	padding-top: 1vh;
}

.nav-link {
	color: #1a4547 !important;
	margin: 10px 10px;
	padding: 2px 15px !important;
	border: 1px solid rgba(0, 0, 0, 0.331) !important;
	border-radius: 10px;
}

.nav-link.active {
	color: black !important;
}

.title {
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 10px;
}

.home {
	margin: 0px !important;
	padding: 0px !important;
}

.description {
	font-size: 16px;
}

.highlight {
	margin: 0px 5px;
	font-weight: 500;
}

.highlight.blue {
	background: #bef7ff;
}

.highlight.pink {
	background: #ffc5df;
}

.highlight.green {
	background: #c1ffca;
}

.highlight.yellow {
	background: #ffffaf;
}